*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    
    --dark: #11132b;
    --light: #b8bbdb;
    --nav-body: #4b54b8;
    --clicked: #cdad12;
    --text1: #ebebf0;
    --text2: #060821;
  }
  
body {
    background-color: var(--light);
}


.header {
    padding: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--dark);
    color: var(--text1);
    margin: 0 20px 0 20px;
}

.header h1 {
    display:flex;
    font-size: 48px;
    float: none;
    margin-bottom: 20px;
    margin-left: 450px;
    text-align: left;
}

nav {
    display: flex;
    background-color: var(--dark);
    }

nav a {    
    color: var(--text1);
    padding: 14px 20px;
    text-decoration: none;
    text-align:center;
    margin-left: 20px;
    
}

  nav a:hover {
    background-color: var(--light);
    color: var(--dark);  
    border-color: var(--dark);
}

.landing {
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    margin-left: 20px;
    background-image: url("../images/landing.jpg");
    background-size: cover;
    background-position: center;
}


.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 100%;
    display: inline-block;
    margin-left: 20px;
}

.content p {
        font-size: 20px;
    }


.about {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--nav-body);
    color: var(--text1);
}

.about img {
    max-height: 200px;
}

.contact {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--nav-body);
    color: var(--text1);
}

.contact img {
    max-height: 200px;
}

.skills {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--nav-body);
    color: var(--text1);
}

.skills img {
    max-height: 200px;
}

.projects {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--nav-body);
    color: var(--text1);
}

.projects img {
    max-height: 200px;
}




h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

.footer p {
    font-size: 20px;
}


@media screen and (max-width: 768px) {
    main,
    nav  {
      flex-direction: column;
    }
  }
  
  